/* The universal selector */
/* 
* {
    border-top: 10px solid #1098ad; This applies to all the elements, no inheritance involved
} 
*/

* {
    margin: 0;
    padding: 0;
}

/* Inheritance */
/* This doesn't select all the elements, just inherit this properties to his childs*/
body {
    font-family: sans-serif;
    color:#444;
    border-top: 10px solid #1098ad; /* some elements like this one aren't inherited*/
}

.main-header {
    background-color: #f7f7f7;
    /* padding: 20px;
    padding-left: 40px;
    padding-right: 40px; */
    padding: 20px 40px; /* height - width */
    margin-bottom: 60px;
}

.post-header {
    margin-bottom: 30px;
}

/* element selector */
aside {
    background-color:#f7f7f7;
    border-top: 5px solid #1098ad; /* special property that accepts multiple values -> width - style - color */
    border-bottom: 5px solid #1098ad;
    /* padding-top: 50px;
    padding-bottom: 50px; */
    padding: 50px 0;
}

nav {
    font-size: 16px;
}

article {
    margin-bottom: 60px;
}

/* 
h1, 
h2, 
h3, 
h4, 
li, 
p {
    font-family: sans-serif;
    color: #444;
} 
*/

/* Colors */
h1, h2, h3 {
    color: #1098ad; 
}

h1 /* selector */ 
/* declaration block */
{
    /* a declaration contains "property: value(keyword);"*/ 
    font-size: 26px;  /* property: value (length)*/ 
    text-transform: uppercase;
    font-style: italic;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    margin-top: 40px; /* collapsing margins with p */
    margin-bottom: 20px; 
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

ul, ol {
    margin-left: 50px;
    margin-bottom: 20px;
}

li { /* We don't style the ul nor the ol element, we style the li element*/
    font-size: 20px; /* by default the font size is 16px */
    margin-bottom: 10px;
}

li:last-child {
    margin-bottom: 0;
}

p { /* this declarations apply to all the elements within the p element due to inheritance */
    font-size: 22px;
    line-height: 1.5; /* you can increase the line-box height with line-height, this indicates 1.5 higher than the the font-size (22px multipled by 1.5)*/
    margin-bottom: 15px; /* collapsing margins with h3 */
}

/* descendant selector 
 this selects al the p's elements that are children from the footer 
footer p { 
    font-size: 16px;
} */

/*
article header p {  This because there is also a header within the body element so that element was also modified with the font-style italic, here we can especify that the header that we want to be modified is the one inside of the article. 
font-style: italic;
}
*/

/*  Selectors */

/* hash selector (id selector) -> an id name can only be used one time for one element */
#author {
    font-style: italic;
    font-size: 18px;
}

#copyright {
    font-size: 16px;
}

/* dot selector (class selector) -> a class name can be used multiple time for different elements. Always use this and avoid id's*/
.related-author {
    font-size: 18px;
    font-weight:bold ;
}

.related {
    list-style: none;
}


/* body {
    background-color: #ffffe3;
} */

/* 
.first-li {
    font-weight: bold;
} 
*/


/* Pseudo elements */
li:first-child { /* select all the first child elements that belong to the parent element */
    font-weight: bold;
}

li:last-child {
    font-style: italic;
}

li:nth-child(odd) { /* use a number as a parameter or a keyword (use case: tables to alternate colors)*/
    /* color:red; */
}


/* Misconception: this won't work */
article p:first-child { /* this doesn't work because p isn't the first child, header is */
    color:red;
}

/* Styling links */


a:visited {
    /* color: #777; */
    color: #1098ad;
}

a:hover {
    color: orangered;
    font-weight: bold;
    text-decoration: underline orangered;
}

a:active {
    background-color: black;
    font-style: italic;
}

a:link {
    color: #1098ad;
    text-decoration: none; /* to get rid of the underlines of our links*/
}

/* 
Resolving conflicts
#copyright {
    color:red;
}

.copyright {
    color:blue;
}

.text {
    color: yellow;
}

footer p {
    color: green !important; This doesn't respect any rule and takes priority
} 
*/

/* nav a:link, nav p {
    font-size: 18px;
} */